<div class="content-block">
    <form [formGroup]="form">
        <fieldset [disabled]="isFormDisabled()">
            <h5>Nuevo Recurso</h5>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="app">Applicacion</label>
                        <select id="app" class="form-control" formControlName="aplicacion">
                            <option *ngFor="let aplicacion of index" [value]="aplicacion.id">{{ aplicacion.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="tipo">Tipo Recurso</label>
                        <select id="tipo" class="form-control" formControlName="seccion">
                            <option *ngFor="let seccion of secciones" [value]="seccion.id">{{ seccion.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{ 'has-danger': isControlInvalid('nombre')}">
                        <label class="form-control-label" for="recurso-nombre">Nombre</label>
                        <input type="text" id="recurso-nombre" class="form-control" formControlName="nombre" autocomplete="off" />
                        <div class="form-control-feedback" >{{ getFeedback('nombre') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="recurso-detalle">Detalle</label>
                        <textarea id="recurso-detalle" class="form-control control-y-2" formControlName="detalle" placeholder="Opcional"></textarea>
                    </div>
                </div>
            </div>
            <div class="m-y-1 text-xs-right">
                <div class="btn-group">
                    <button type="submit" (click)="submit()" [disabled]="isSubmitDisabled()">
                        <span>Ingresar Recurso</span>
                        <i class="fa fa-fw" [ngClass]="{ 'fa-spin fa-circle-o-notch' : waiting, 'fa-check' : !waiting }"></i>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>