@media (max-width: 768px) {
    ul.nav {
        position: absolute;
        max-height: 0;
        overflow: hidden;
    }
}

.nav {
    color: #969ba0
}

.nav .nav {
    padding-left: 24px;
}

.nav-link {
    color: inherit;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: inherit;
    font-weight: bold;
}