<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <div class="p-l-1 m-t-1 text-muted nav-section-name"><i class="fa fa-fw fa-cubes"></i> Inventario</div>
        <ul class="nav-child">
            <li class="nav-item">
                <a class="nav-link" routerLink="inventario/movimientos" routerLinkActive="active">Ingresos y Egresos</a>
                <a class="nav-link" routerLink="inventario/guias" routerLinkActive="active">Guias y Documentos</a>
                <a class="nav-link" routerLink="inventario/existente" routerLinkActive="active">Existente</a>
                <a class="nav-link" routerLink="inventario/historial" routerLinkActive="active">Historial</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <div class="p-l-1 m-t-1 text-muted nav-section-name"><i class="fa fa-fw fa-dollar"></i> Contabilidad</div>
        <ul class="nav-child">
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Pagos y Facturas</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <div class="p-l-1 m-t-1 nav-section-name"><i class="fa fa-fw fa-database"></i> Administracion</div>
        <ul class="nav-child">
            <li class="nav-item">
                <a class="nav-link" routerLink="administracion/bodegas" routerLinkActive="active">Bodegas</a>
                <a class="nav-link" routerLink="administracion/materiales" routerLinkActive="active">Materiales</a>
                <a class="nav-link" routerLink="administracion/personal" routerLinkActive="active">Personal</a>
                <a class="nav-link" routerLink="administracion/proveedores" routerLinkActive="active">Proveedores</a>
                <a class="nav-link" routerLink="administracion/productores" routerLinkActive="active">Productores</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <div class="p-l-1 m-t-1 nav-section-name"><i class="fa fa-fw fa-cogs"></i> Panel de Control</div>
        <ul class="nav-child">
            <li class="nav-item">
                <a class="nav-link" routerLink="panel/recursos" routerLinkActive="active">Datos y Recursos</a>
            </li>
        </ul>
    </li>
</ul>