.form-text, .form-control-feedback, .options {
    user-select: none;
}

input[type=text]:disabled {
    background-color: rgb(236, 238, 239);
}

input[type=text] {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding-right: 30px;
}

.active .form-control {
    border-radius: .25rem .25rem 0 0;
}

.input-combo, .form-group {
    position: relative;
}

span.search:after {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: .75rem;
    display: flex;
    align-items: center;
}

.options {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(255,255,255);
    display: none;
    border: 1px solid rgba(0,0,0,.30);
    border-top: none;
    border-radius: 0 0 .25rem .25rem;
    z-index: 99;
}

.active .options {
    display: block;
}

.options .item {
    padding: .25rem .75rem;
    cursor: pointer;
}

.options .item:hover {
    background-color: #0275d8;
    color: #fff
}
.options .item-label {

}

.options .item-aux {
    font-size: .8rem;
    opacity: .75;
}