<div class="content-block">
    <h5>Lista de Materiales en Bodegas</h5>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th width="1" rowspan="2">#</th>
            <th colspan="2" class="thead-expand-title">Bodega</th>
            <th colspan="4" class="thead-expand-title">Material</th>
            <th class="text-sm-center" rowspan="2">Disponible</th>
            <th class="text-sm-center" rowspan="2">Ultimo Movimiento</th>
            <th class="text-sm-center" rowspan="2">Primer Ingreso</th>
        </tr>
        <tr class="thead-expand">
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr  class="text-sm-center" *ngFor="let item of existente; let i = index">
            <td>{{ i + 1 }}</td>
            <td><code>{{ item.bodega.codigo }}</code></td>
            <td>{{ item.bodega.nombre }}</td>
            <td><code>#{{ item.material.codigo}}</code></td>
            <td>{{ item.material.tipoMaterial.nombre }}</td>
            <td>{{ item.material.categoria.nombre }}</td>
            <td>{{ item.material.nombre}}</td>
            <td class="text-sm-right">{{ item.cantidad }}</td>
            <td>{{ item.updated | date }}</td>
            <td>{{ item.created | date }}</td>
        </tr>
    </tbody>
</table>

