<div class="content-block">
    <form [formGroup]="form" autocomplete="off">
        <fieldset [disabled]="isFormDisabled()">
            <h5>Nueva Bodega</h5>
            <div class="row">
                <div class="col-sm-6">
                    <samy-input-simple [type]="text" formControlName="nombre" [options]="{ name : 'nombre', label : 'Nombre', control : form.controls['nombre']}"></samy-input-simple>
                </div>
                <div class="col-sm-6">
                    <samy-input-collection [options]="{ name : 'encargado', label : 'Encargado', control : form.controls['encargado'], hasDanger : true }" [collection]="personal" [key]="'id'" [itemLabel]="['nombre', 'apellido']" [itemAux]="['cedula']" formControlName="encargado"></samy-input-collection>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <samy-input-textarea [placeholder]="'ej. Cartoner, Etiquetas, Fundas, etc...'" formControlName="descripcion" [options]="{ name : 'descripcion', label : 'Descripcion', control : form.controls['descripcion']}"></samy-input-textarea>
                </div>
            </div>
            <div class="form-group text-xs-right">
                <div class="btn-group">
                    <button type="submit" (click)="submit()" [disabled]="isSubmitDisabled()">
                        <span>Ingresar Bodega</span>
                        <i class="fa fa-fw" [ngClass]="{ 'fa-spin fa-circle-o-notch' : waiting, 'fa-check' : !waiting }"></i>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>