<div class="content-block">
    <form [formGroup]="form" autocomplete="off">
        <div class="clearfix">
            <div class="float-xs-right ">
                <button [routerLink]="['../../view',bodega?.id ]"><i class="fa fa-fw fa-file-text-o"></i></button>
            </div>
            <h5>Editar Bodega</h5>
        </div>
        <fieldset [disabled]="isFormDisabled()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" for="bodega-codigo">Codigo</label>
                        <input type="text" id="bodega-codigo" class="form-control text-md-center" [value]="bodega?.codigo" readonly/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <samy-input-collection [options]="{ name : 'encargado', label : 'Encargado', control : form.controls['encargado'], hasDanger : true }" [collection]="personal" [key]="'id'" [itemLabel]="['nombre', 'apellido']" [itemAux]="['cedula']" formControlName="encargado"></samy-input-collection>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <samy-input-simple [type]="text" formControlName="nombre" [options]="{ name : 'nombre', label : 'Nombre', control : form.controls['nombre']}"></samy-input-simple>
                    <samy-input-textarea [placeholder]="'ej. Cartoner, Etiquetas, Fundas, etc...'" formControlName="descripcion" [options]="{ name : 'descripcion', label : 'Descripcion', control : form.controls['descripcion']}"></samy-input-textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <samy-input-checkbox [options]="{ name : 'active', label : 'Bodega Habilitada', control : form.controls['active'] }" formControlName="active"></samy-input-checkbox>
                </div>
                <div class="col-xs-12 text-xs-right">
                    <div class="btn-group">
                        <button type="submit" (click)="submit()" [disabled]="isSubmitDisabled()">
                            <span>Editar Bodega</span>
                            <i class="fa fa-fw" [ngClass]="{ 'fa-spin fa-circle-o-notch' : waiting, 'fa-check' : !waiting }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>